.link{
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
}

.link:not(:last-child){
    margin-right: 1rem;
}

.link:hover{
    text-decoration: underline;
    color: #fff;
}