@using ChatApplication.Blazor.Services
@using ChatApplication.Blazor.Services.Interfaces
@inject ChatAuthenticationStateProvider AuthenticationStateProvider;
@inject IAuthService AuthService;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChatApplication.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        @if (!_authenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
                </NavLink>
            </div>
            <div class="nav-item px-3" >
                <NavLink class="nav-link" href="signup">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sign up
                </NavLink>
            </div>
        }
        @if (_authenticated)
        {
            <div class="nav-item px-3" >
                <NavLink class="nav-link" href="logout">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Log out
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool _authenticated = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

            if (authState.User.Identity != null)
            {
                _authenticated = authState.User.Identity.IsAuthenticated;
            }
            
            StateHasChanged();
        }
    }
}