@page "/changePassword"

@using ChatApplication.Blazor.Models.Auth
@using ChatApplication.Blazor.Services
@using ChatApplication.Blazor.Services.Interfaces
@using Microsoft.IdentityModel.JsonWebTokens

@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject ChatAuthenticationStateProvider AuthenticationStateProvider 

<div class="container">
    <h2>Change Password</h2>
    
    <form @onsubmit="SubmitForm">
        <div class="form-group">
            <label for="username">Password</label>
            <input type="text" class="form-control" id="username" @bind="_password" />
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="password" @bind="_confirmPassword" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    @if (_errorMessage != null)
    {
        <p>@_errorMessage</p>
    }
</div>

@code {
    private string _password;
    private string _confirmPassword;
    private string _errorMessage;

    private async Task SubmitForm()
    {
        if (_password != _confirmPassword)
        {
            _errorMessage = "Passwords don't match";
            return;
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity == null)
        {
            return;
        }

        var email = authState.User.Claims.FirstOrDefault(c => c.Type == JwtRegisteredClaimNames.Email)?.Value;
        
        var changePasswordModel = new ChangePasswordModel
        {
            Email = email,
            Password = _password
        };

        var response = await AuthService.ChangePasswordAsync(changePasswordModel);

        if (response.Succeeded)
        {
            _errorMessage = null;
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            _errorMessage = response.ErrorMessage;
        }
    }
}