@page "/fetchdata"

<PageTitle>Chats</PageTitle>
@using ChatApplication.Blazor.Models.Chat
@using ChatApplication.Blazor.Services.Interfaces

@inject IChatService ChatService;

<h1>Chats</h1>

<p>This component demonstrates fetching chats from the server.</p>

@if (_chatModels == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Chat type id</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var chat in _chatModels)
        {
            <tr>
                <td>@chat.Id</td>
                <td>@chat.Name</td>
                <td>@chat.ChatTypeId</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<ChatModel> _chatModels;

    protected override async Task OnInitializedAsync()
    {
        _chatModels = await ChatService.GetChatsAsync();
    }
}